.container-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 8rem;
  margin-bottom: 8rem;
  color: #f2f2f2;
}

.container-about img {
  width: 28%;
  height: auto;
}

.container-about div {
  width: 550px;
  height: 410px;
  position: relative;
  color: #0899dd;
  background: #f2f2f2;
  border-radius: 25px;
  border: 1px solid;
  padding: 10px;
  -webkit-box-shadow: 5px 10px #04557b;
          box-shadow: 5px 10px #04557b;
}

.container-about div h1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
}

.container-about div p {
  font-size: 1.25rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.container-about div p a {
  color: #04557b;
}

.container-thibo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 8rem;
  margin-bottom: 8rem;
  color: #f2f2f2;
  text-align: center;
}

.container-thibo div {
  width: 550px;
  height: 210px;
  position: relative;
  color: #0899dd;
  background: #f2f2f2;
  border-radius: 25px;
  border: 1px solid;
  padding: 10px;
  -webkit-box-shadow: 5px 10px #04557b;
          box-shadow: 5px 10px #04557b;
}

.container-thibo h1 {
  text-transform: uppercase;
}

.container-thibo p {
  font-size: 1rem;
}

.container-thibo h2 {
  text-transform: uppercase;
}

.container-thibo a {
  color: #0899dd;
}

.container-joge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 8rem;
  margin-bottom: 8rem;
  color: #f2f2f2;
  text-align: center;
}

.container-joge div {
  width: 550px;
  height: 250px;
  position: relative;
  color: #0899dd;
  background: #f2f2f2;
  border-radius: 25px;
  border: 1px solid;
  padding: 10px;
  -webkit-box-shadow: 5px 10px #04557b;
          box-shadow: 5px 10px #04557b;
}

.container-joge h1 {
  text-transform: uppercase;
}

.container-joge p {
  font-size: 1rem;
}

.container-joge h2 {
  text-transform: uppercase;
}

.container-joge a {
  color: #0899dd;
}

@media screen and (max-width: 600px) {
  .container-thibo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 8rem;
    margin-bottom: 8rem;
    color: #f2f2f2;
    text-align: center;
  }
  .container-thibo div {
    width: 300px;
    height: 285px;
    color: #0899dd;
    background: #f2f2f2;
    border-radius: 25px;
    border: 1px solid;
    padding: 10px;
    -webkit-box-shadow: 5px 10px #04557b;
            box-shadow: 5px 10px #04557b;
  }
  .container-thibo h1 {
    text-transform: uppercase;
  }
  .container-thibo p {
    font-size: 1rem;
  }
  .container-thibo h2 {
    text-transform: uppercase;
  }
  .container-thibo a {
    color: #0899dd;
  }
  .container-joge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 8rem;
    margin-bottom: 8rem;
    color: #f2f2f2;
    text-align: center;
  }
  .container-joge div {
    width: 300px;
    height: 285px;
    color: #0899dd;
    background: #f2f2f2;
    border-radius: 25px;
    border: 1px solid;
    padding: 10px;
    -webkit-box-shadow: 5px 10px #04557b;
            box-shadow: 5px 10px #04557b;
  }
  .container-joge h1 {
    text-transform: uppercase;
  }
  .container-joge p {
    font-size: 1rem;
  }
  .container-joge h2 {
    text-transform: uppercase;
  }
  .container-joge a {
    color: #0899dd;
  }
}
/*# sourceMappingURL=main.css.map */